<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="698189">  <td>19/04/02 19:18:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="day3.LoginAPIcarLoan(java.lang.String, java.lang.String)[pri:0, instance:test.day3@387c703b]">LoginAPIcarLoan</td> 
  <td>main@93122545</td>   <td></td> </tr>
<tr bgcolor="698189">  <td>19/04/02 19:18:44</td>   <td>22</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="day3.LoginAPIcarLoan(java.lang.String, java.lang.String)[pri:0, instance:test.day3@387c703b]">LoginAPIcarLoan</td> 
  <td>main@93122545</td>   <td></td> </tr>
<tr bgcolor="698189">  <td>19/04/02 19:18:44</td>   <td>24</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="day3.LoginAPIcarLoan(java.lang.String, java.lang.String)[pri:0, instance:test.day3@387c703b]">LoginAPIcarLoan</td> 
  <td>main@93122545</td>   <td></td> </tr>
</table>
