<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Regression</td><td>day4.LoginAPIHomeLoan()[pri:0, instance:test.day4@3ab39c39]<br/></td></tr>
<tr><td>Smoke</td><td>day4.WebloginHomeLoan()[pri:0, instance:test.day4@3ab39c39]<br/>day4.MobileLoginHomeLoan()[pri:0, instance:test.day4@3ab39c39]<br/></td></tr>
</table>
