<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>LoanDepartment Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="696aa4">  <td>19/04/02 19:50:06</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="day3.LoginAPIcarLoan(java.lang.String, java.lang.String)[pri:0, instance:test.day3@13b6d03]">LoginAPIcarLoan</td> 
  <td>main@818403870</td>   <td></td> </tr>
<tr bgcolor="696aa4">  <td>19/04/02 19:50:06</td>   <td>25</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="day3.LoginAPIcarLoan(java.lang.String, java.lang.String)[pri:0, instance:test.day3@13b6d03]">LoginAPIcarLoan</td> 
  <td>main@818403870</td>   <td></td> </tr>
<tr bgcolor="696aa4">  <td>19/04/02 19:50:06</td>   <td>32</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="day3.LoginAPIcarLoan(java.lang.String, java.lang.String)[pri:0, instance:test.day3@13b6d03]">LoginAPIcarLoan</td> 
  <td>main@818403870</td>   <td></td> </tr>
<tr bgcolor="a9e876">  <td>19/04/02 19:50:06</td>   <td>120</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;day4.DeleteHomeLoanTable()[pri:0, instance:test.day4@3ab39c39]">&gt;&gt;DeleteHomeLoanTable</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@818403870</td>   <td></td> </tr>
<tr bgcolor="a9e876">  <td>19/04/02 19:50:06</td>   <td>120</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="day4.LoginAPIHomeLoan()[pri:0, instance:test.day4@3ab39c39]">LoginAPIHomeLoan</td> 
  <td>main@818403870</td>   <td></td> </tr>
<tr bgcolor="a9e876">  <td>19/04/02 19:50:06</td>   <td>123</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="day4.MobileLoginHomeLoan()[pri:0, instance:test.day4@3ab39c39]">MobileLoginHomeLoan</td> 
  <td>main@818403870</td>   <td></td> </tr>
<tr bgcolor="a9e876">  <td>19/04/02 19:50:06</td>   <td>127</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="day4.WebloginHomeLoan()[pri:0, instance:test.day4@3ab39c39]">WebloginHomeLoan</td> 
  <td>main@818403870</td>   <td></td> </tr>
</table>
